* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Noto Serif JP', serif;
    color: #333;
}

.firstView {
    position: relative;/*h1の中央寄せ配置の起点とするためのrelative*/
}
.video-area{
    position: relative;
    z-index: -1;/*最背面に設定*/
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.video {
    /*天地中央配置*/
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
}
h1{
    /*要素の配置*/
    position:absolute;
    /*要素を天地中央寄せ*/
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    color:#fff;
    text-shadow: 0 0 15px #666;
    font-size: 40px;
}
h2 {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0.08em;
}
p {
    font-weight: 300;
}
#introduction h2 {
    margin-top: 300px;
}
.introduction-text-main {
    text-align: center;
    margin-top: 90px;
    font-size: 40px;
    letter-spacing: 0.1em;
    line-height: 1.675;
}
.introduntion-text-sub {
    text-align: center;
    margin-top: 60px;
    font-size: 24px;
    letter-spacing: 0.2em;
    line-height: 1.833;
}

#recommend-spots {
    margin-top: 324px;
    background-color: #FEFBF6;
    filter: drop-shadow(0 -50px 50px #FEFBF6);
}
#recommend-spots h2 {
    padding-top: 150px;
}

#access h2{
    margin-top: 150px;
}
.map {
    margin: 75px auto 0;
    text-align: center;
    position : relative;
    height : 0;
    width: 69.4%;
    padding-bottom : 56.25%;
}
.map iframe {
    position : absolute;
    top : 0;
    left : 0;
    height : 100%;
    width: 100%;
}
.access-image {
    text-align: center;
    margin-top: 26px;
}
.access-image img {
    width: 62.5%;
    height: auto;
}